@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/js/Dashboard/DashboardSettings.js"></script>
<script src="~/js/Dashboard/DashboardDetails.js"></script>
<script src="~/js/Menu/Menu.js"></script>
@*
<div class="text-center">
    <h1 class="display-4 k-header">School Management System-2</h1>
    <p>Trying to Making Project SMS</p>
    <div>
    <input id="fabric" type="text" class="k-input k-textbox.medium"/>
    </div>
    <div id="grid">

    </div>
</div>*@

@*<div id="menu"></div>
*@



    

