
@{
    ViewData["Title"] = "Index";
}

<script src="~/js/Students/StudentsSettings.js"></script>    
<script src="~/js/Students/StudentsDetails.js"></script>    
<script src="~/js/Students/StudentsSummary.js"></script>   
<br />
<br />


<div id="studentGridAll">
    <div class="centerAlign">
        <h4 class="k-header">Student Information</h4>
    </div>
</div>


