
@{
    ViewData["Title"] = "Personal";
}
<script src="~/js/Personal/PersonalSettings.js"></script>
<script src="~/js/Personal/PersonalDetails.js"></script>
<script src="~/js/Personal/PersonalSummary.js"></script>

<br />
<br />
<div id="personalGridAll">
    <div class="centerAlign">
        <h4 class="k-header"">Personal Information</h4>
    </div>
</div>


